body {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  margin: 0;
}

/* HERO */
.hero {
  min-height: 85vh;
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #f5f7ff, #e9ecff);
  padding-top: 80px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image img {
  width: 260px;
  border-radius: 50%;
  border: 5px solid white;
}

/* NAME */
.name {
  background: linear-gradient(90deg, #4f46e5, #9333ea);
  -webkit-background-clip: text;
  color: transparent;
}

/* SECTION */
.section {
  padding: 80px 0;
}

/* PROJECT */
.project-card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* PROGRESS */
.progress-bar {
  background: #4f46e5;
}

/* SOCIAL */
.social-bar {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.social-bar a {
  width: 45px;
  height: 45px;
  background: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 50%;
}

.social-bar a:hover {
  background: #4f46e5;
}